#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 3.1.0.{build}

# version suffix, if any (e.g. '-RC1', '-beta' otherwise '')
environment:
  version_suffix: ''

#---------------------------------#
#    environment configuration    #
#---------------------------------#

nuget:
  disable_publish_on_pr: true

# Build worker image (VM template)
image: Visual Studio 2022

# enable patching of Directory.Build.props
dotnet_csproj:
  patch: true
  file: '**\*.props'
  version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}$(version_suffix)'
  package_version: '{version}$(version_suffix)'

#---------------------------------#
#       build configuration       #
#---------------------------------#

# scripts to run before build
before_build:
- ps: nuget restore .\GitExtensions.GerritPlugin.sln -Verbosity quiet

# build configuration
configuration: Release

build:
  # enable MSBuild parallel builds
  parallel: true
  # MSBuild verbosity level
  verbosity: quiet

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
- path: '**\GitExtensions.GerritPlugin.*.nupkg'
  name: NuGet

deploy:
- provider: NuGet
  name: production
  artifact: /GitExtensions.GerritPlugin.*\.nupkg/
  api_key:
    secure: 2apdS3bqaEv20ai12PU9uXaF6w/INNVLyvFV7EdGyK8Uxdwk6KAKDuJySbmi/4uO
  skip_symbols: false
  on:
    appveyor_repo_tag: true
